﻿

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div id="div1" style="visibility:visible">
                <div class="row">
                    <div class="form-group">
                        <label>Name</label>

                        <input type="text" class="form-control" id="txtName" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" id="txtAddress" />

                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <input type="button" value="Next" class="btn btn-success" id="btnNext" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="div2" style="display:none">
                <div class="row">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" id="txtPhone" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" id="txtEmail" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="button" value="Back" class="btn btn-warning" id="btnback" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="button" value="Send" class="btn btn-success" id="btnSend" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnNext").click(function () {
            $('#txtName').attr('readonly', true);
            $('#txtAddress').attr('readonly', true);
            $('#div2').toggle('show');
        });

        $("#btnSend").click(function () {
            alert($("txtName").val + " " + $('#txtAddress').val | +" " + $('#txtPhone') + "" + $('#txtEmail'))
        })
        $("#btnback").click(function () {
            $('#txtName').attr('readonly', false);
            $('#txtAddress').attr('readonly', false);
            $("#div2").hide();
    })
</script>