﻿@model DataProvider.CustomeModel.ProcessTypeCustomeModel
@using DataProvider

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @*@Styles.Render("~/Content/cssjqryUi")*@
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
        });
    </script>
}


<div class="container">
    @{ if (ViewBag.Msg != null)
        {
            var result = ViewBag.Msg;
            <h4>@result</h4>
        }
    }
</div>
0
@using (Html.BeginForm("Appointment", "PatientInformation", FormMethod.Post))
{
    <div class="jumbotron">
        <div class="container">
            @*<div class="row">
                    <div class="form-group">
                        <label>Patient Name</label>
                        @foreach (var i in (List<BusinessObjectLayer.BusinessEntities.ProcessTypeModel>)ViewBag.PatientName)
                        {
                            <h4>@i.Name</h4>
                            <span id="pid" style="display:none;visibility:hidden">@i.Id</span>
                        }

                    </div>
                </div>*@

            @*<div class="row">
                    <div class="form-group">
                        <label>ProcessType</label>
                        @Html.DropDownListFor(model => model.ProcessTypeId,, new { @class = "form-control" })
                    </div>
                </div>*@

            @*@Html.HiddenFor(f=>f.PatientId==Model.PatientId)*@
            <div class="row">
                <div class="form-group">
                    <label>Fees</label>
                    @Html.TextBoxFor(model => model.Fees, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label>Next AppointMent</label>
                    @Html.TextBoxFor(model => model.NextAppointment, new { @class = "form-control", @type = "datetime" })
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label>DiagnosisType</label>
                    @Html.TextBoxFor(model => model.DiagnosisType, new { @class = "form-control" })

                </div>
            </div>

            @*<div class="row">
                    <div class="form-group">
                        <label>Diagnosis</label>
                        @Html.TextBoxFor(model => model.Diagnosis, new { @class = "form-control" })
                    </div>
                </div>*@

            <div class="row">
                <div class="col-lg-2">
                    <input type="submit" value="Add" class="btn btn-success">
                </div>

                <div class="col-lg-2">
                    <input type="reset" value="Cancel" name="Cancle" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </div>
}