﻿@model BusinessObjectLayer.BusinessEntities.PatientModel


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @*@Styles.Render("~/Content/cssjqryUi")*@
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
        });
    </script>
}


<!-- Modal -->
@using (Html.BeginForm("Edit", "PatientInformation", FormMethod.Post))
{
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label>Address</label>
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label>AppointMent Date&Time</label>
                    @Html.TextBoxFor(model => model.AppointMent, "{0:MM\\/dd\\/yyyy}", new { @class = "form-control", @type = "datetime" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>password</label>
                    @Html.TextBoxFor(model => model.Passwoard, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Diagnosis</label>
                    @Html.TextBoxFor(model => model.Diagnosis, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <input type="submit" value="Add" class="btn btn-success">
                </div>

                <div class="col-lg-2">
                    <input type="reset" value="Cancel" name="Cancle" class="btn btn-warning" />
                </div>
            </div>

        </div>
    </div>
}


