﻿@model BusinessObjectLayer.BusinessEntities.CasePaperModel


@using (Html.BeginForm("AddCasePaper", "PatientInformation", FormMethod.Post))
{
<div class="container">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <label>Select Pationt:</label>
                @Html.DropDownListFor(f => f.patientID, new SelectList(Model.pList, "ID", "Name"), "--Select Patinet--")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6,col-sm-6">
                <label>Visited:</label>
                @Html.RadioButtonFor(n => n.Vistited, "FirstTime") <label>FirstTime</label>
                @Html.RadioButtonFor(n => n.Vistited, "SecondTime")<label>SecondTime</label>
            </div>
            <div class="col-md-6 col-sm-6">
                <label>Gender:</label>
                @Html.RadioButtonFor(n => n.Gender, "Male")<label>Male</label>
                @Html.RadioButtonFor(n => n.Gender, "Female")<label>Female</label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-12 col-sm-12">
                <label>Details:</label>
                @Html.TextAreaFor(f => f.Details, new { @class = "whatever-class", @cols = 80, @rows = 10 })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-12 col-sm-12">
                <label>Details:</label>
                @Html.TextAreaFor(f => f.Digonostic, new { @class = "form-control", @cols = 100, @rows = 10 })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5 col-sm-5">
            <input type="submit" value="Send" class="btn btn-success" />
            <input type="reset" value="Reset" class="btn btn-warning" />

        </div>
    </div>
</div>
}
