﻿@model BusinessObjectLayer.BusinessEntities.PatientModel
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .editButton {
        background: url('../../Images/editbton.jpg') no-repeat top left;
        display: block;
        width: 80px;
        height: 80px;
    }
</style>
<script src="~/Scripts/jquery-1.12.4.js"></script>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @*@Styles.Render("~/Content/cssjqryUi")*@
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
        });
    </script>
}
<br />
<br />
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Create Patient</button>
    </div>

    <br />

    <!-- Modal -->
    @using (Html.BeginForm("Add", "PatientInformation", FormMethod.Post))
    {
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                @Html.ValidationSummary(true)
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@Html.ActionLink("Index", "Doctor")</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-group">
                                    <label>Name</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label>Password</label>
                                    @Html.TextBoxFor(model => model.Passwoard, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(v => v.Passwoard, "Enter Passwoard", new { @claas = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group">
                                    <label>AppointMent Date&Time</label>
                                    @Html.TextBoxFor(model => model.AppointMent, new { @class = "form-control", @type = "datetime" })

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label>Diagnosis</label>
                                    @Html.TextBoxFor(model => model.Diagnosis, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="submit" value="Add" class="btn btn-success">
                                </div>

                                <div class="col-lg-2">
                                    <input type="reset" value="Cancel" name="Cancle" class="btn btn-warning" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    }

</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            Name:<input type="text" class="form-control" id="txtName" />
        </div>
        <div class="col-md-3 col-sm-3">
            Date:<input type="text" class="form-control" id="txtDate" />
        </div>
    </div>
    <div class="">
        <div class="col-md-12 col-sm-12">
            <br />
            <div id="">
                @Html.Partial("~/Views/Shared/pv_PatientList.cshtml")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
                        debugger;
        $("#txtName").keyup(function () {
            var name = $("#txtName").val();
            if (name != null) {
                $.ajax({
                    url: '@Url.Action("AppointmentName", "PatientInformation")',
                    data: { 'name': name },
                    type: "get",
                    contenttype: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        console.log(data);
                        $("#grr").html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Something Went Wrong");
                    }
                });
            }
            else {
                alert("Enter The Name");
            }
        });

</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#txtDate").keyup(function () {
            var date = $("#txtDate").val();

                $.ajax({
                    url: '@Url.Action("AppointmentDate", "PatientInformation")',
                    data: { 'date': date },
                    type: "get",
                    contenttype: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        $("#grr").html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Something Went Wrong");
                    }
                });

        });

    })
</script>
