﻿@*@model IEnumerable<BusinessObjectLayer.BusinessEntities.PatientModel>*@
@using BusinessObjectLayer.BusinessEntities
@model PatientModel

@{
    List<PatientModel> patientModels = Model.plist.Take(1).ToList();
}
<div class="">
    @*<div id="tblPatient">
            <table class="table table-bordered">
                <tr class="text-info">
                    <td>Name</td>
                    <td>Address</td>
                    <td>AppointmentTime</td>
                    <td>diagnosis</td>
                    <td>Action</td>
                    <td>Book Appointment</td>
                </tr>

                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Name</td>
                        <td>@i.Address</td>
                        <td>@i.AppointMent</td>
                        <td>@i.Diagnosis</td>
                        <td><a href='@Url.Action("Edit", new { Id = i.Id })'> <img src="../../Images/editbton.jpg" height="20" width="20"></a></td>
                        <td><a href='@Url.Action("Appointment", new { Id = i.Id })'><img src="../../Images/appot.jpg" height="20" width="20"></a></td>
                    </tr>
                }
            </table>
        </div>*@



    @{
        var dd = new WebGrid(canSort: true, canPage: true, rowsPerPage: 2, ajaxUpdateContainerId: "grr");
        dd.Bind(Model.plist);
        dd.Pager(WebGridPagerModes.All);

    }

    @dd.GetHtml(tableStyle: "table table-bordered", htmlAttributes: new { id = "grr" },
                                                 columns: dd.Columns(
                                                  dd.Column("Name", "Address", format: @<text>@item.Name</text>),
                                                  dd.Column("Address", "Address", format: @<text>@item.Address</text>),
                                                   dd.Column("AppointMent", "AppointMent", format: @<text>@(item.AppointMent)</text>),
                                                                                                                                                                        dd.Column("Diagnosis", "Diagnosis", format: @<text>@(item.Diagnosis)</text>),
                                                                                                                                                                                                                dd.Column("IsDoctor", "IsDoctor", format: @<text><input name="chkUserAdminGroup" type="checkbox" id="isdoctor" value="@item.IsDoctor" @(item.IsDoctor == true ? null : "unchecked") /></text>)

                                                                                                                                                                                                                                ))
</div>
<script src="~/Scripts/jquery-1.12.4.js"></script>





