﻿@model BusinessObjectLayer.BusinessEntities.PatientModel
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Patient</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Html.ActionLink("Index", "Doctor")</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <label>Name</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label>Address</label>
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label>AppointMent Date&Time</label>
                            @Html.TextBoxFor(model => model.AppointMent, new { @class = "form-control", @type = "date" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label>Diagnosis</label>
                            @Html.TextBoxFor(model => model.Diagnosis, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <input type="submit" value="Add" class="btn btn-success">
                        </div>

                        <div class="col-lg-2">
                            <input type="reset" value="Cancel" name="Cancle" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@*<div class="row">
    <table class="table table-bordered">
        <tr class="text-info">
            <td>Name</td>
            <td>Address</td>
            <td>AppointmentTime</td>
            <td>diagnosis</td>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.Address</td>
                <td>@i.AppointMent</td>
                <td>@i.Diagnosis</td>
            </tr>
        }
    </table>
</div>
    </div>*@

