﻿@model BusinessObjectLayer.BusinessEntities.UsersModel

@using (Html.BeginForm("forgoatPassword", "login", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <div class="jumbotron">

        <div class="row">
            <div class="form-group">
                <label>Enter User Name:</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Enter Old Password:</label>
                @Html.TextBoxFor(model => model.PWD, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>New Password</label>
                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>Compair Password:</label>
                @Html.TextBoxFor(model => model.CompairPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompairPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <input type="submit" value="Login" name="Login" class="btn btn-success">
            </div>

            <div class="col-lg-2">
                <input type="reset" value="Cancel" name="Cancle" class="btn btn-warning" />
            </div>
        </div>
    </div>
}
