﻿@model BusinessObjectLayer.BusinessEntities.UsersModel


@if (ViewBag.Message != null)
{
    <h3 class="text-warning">
        @ViewBag.Message
    </h3>
}

@using (Html.BeginForm("UserLogin", "login", FormMethod.Post))
{
    <div class="jumbotron">
        <div class="row">
            <div class="form-group">
                <label>UserName</label>
                @Html.TextBoxFor(model => model.Emaill, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>Password</label>
                @Html.TextBoxFor(model => model.PWD, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <input type="submit" value="Login" name="Login" class="btn btn-success">
            </div>

            <div class="col-lg-2">
                <input type="reset" value="Cancel" name="Cancle" class="btn btn-warning" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            @Html.ActionLink("ForGoat Pasword", "forgoatPassword")
        </div>
    </div>
}