﻿
<div class="container">
    @{
        string result = "";
        if (ViewBag.result != null)
        {
            <span>
                @result=Convert.ToString(@ViewBag.result);
            </span>
        }
    }
</div>
