﻿
<div class="container">
    @{

        if (TempData["test"] != null)
        {

            <span style="background-color:pink">
                  @TempData["test"].ToString()
            </span>
        }
    }
</div>